<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="#" th:action="@{/buyers-create}" th:object="${buyer}" method="post">
    <label for="buyerId"> Buyer id</label>
    <input type ="text" th:field="*{buyerId}" id ="buyerId" placeholder="Buyer Id">
    <label for="buyerName"> Buyer name</label>
    <input type ="text" th:field="*{buyerName}" id ="buyerName" placeholder="Buyer Name ">
    <label for="buyerPhoneNumber"> Buyer phone number</label>
    <input type ="text" th:field="*{buyerPhoneNumber}" id ="buyerPhoneNumber" placeholder="Buyer phone number">
    <label for="buyerAddress"> Buyer address</label>
    <input type ="text" th:field="*{buyerAddress}" id ="buyerAddress" placeholder="Buyer address">
    <input type ="submit" value="Create User">
</form>
</body>
</html>