<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">

    <title>Buyer List</title>
</head>
<body>


<div class="content">

    <div class="container">
        <h2 class="mb-5">Buyer List</h2>
        <div class="table-responsive custom-table-responsive">
            <table class="table custom-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="buyer : ${buyers}">
                    <td th:text="${buyer.buyerId}"></td>
                    <td th:text="${buyer.buyerName}"></td>
                    <td th:text="${buyer.buyerPhoneNumber}"></td>
                    <td th:text="${buyer.buyerAddress}"></td>
                    <td><a th:href="@{buyers-update/{id}(id=${buyer.buyerId})}">Edit</a></td>
                    <td><a th:href="@{buyers-delete/{id}(id=${buyer.buyerId})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/buyers-create">Create buyer</a></p>
   </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>